@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Press+Start+2P&display=swap');

body {
    box-sizing: border-box;
    margin: auto;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #fff;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: -webkit-fill-available;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Press Start 2P', monospace;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    text-align: center;
}

/* top nav */
.nav {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    height: max-content;
    padding-top: 10px;
    margin-bottom: 15px;
}

.nav a, .footer a {
    margin: 0 15px 0 0;
}

.nav a:last-of-type, .footer a:last-of-type {
    margin: 0;
}

.nav a, .footer a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

/* span styling */

.angel {
    text-transform: uppercase;
    font-weight: bold;
    color: #FE4540;
}

.steph-t {
    text-transform: uppercase;
    font-weight: bold;
    color: #4756FF;
}

.steph-m {
    text-transform: uppercase;
    font-weight: bold;
    color: #FEA625;
}

.dri {
    text-transform: uppercase;
    font-weight: bold;
    color: #18DAB7;
}

.quick-facts {
    font-weight: bold;
    text-transform: uppercase;
}

#stats {
    font-size: 16px;
    line-height: 20px;
}

#stats a {
    text-decoration: underline;
}

/* player */

.player-info-container {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.player-info-container h1 {
    text-align: left;
}

#player-icon {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin-right: 25px;
}

#player-icon img {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px #fff solid;
    background-color: #eeeeee;
}

@media screen and (max-width: 480px) {
    .player-info-container {
        flex-direction: column;
        text-align: center;
    }
    .player-info-container h1 {
        text-align: center;
    }
    #player-icon {
        margin-bottom: 25px;
        margin-right: 0;
    }
}

/* stages */

#stage-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 75px;
}

.stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.stage a {
    font-size: 14px;
    padding: 2px;
}

.stage-thumb img {
    width: 300px;
}